body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    background-color:  #648de5ff;
    height: 90vh;
}

/* --sage: #cdc392ff;
--alabaster: #e8e5daff;
--jordy-blue: #9eb7e5ff;
--cornflower-blue: #648de5ff;
--federal-blue: #080357ff; */


.navbar {
    background-color: red;
    height: max-content;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    display:inline-flex;
    /* justify-content:space-between; */
    /* margin-bottom: 2em; */
}

.logo{

    width: 100px;
    border-radius: 50%;
    display: block;
    /* background-image: url("app_logo.jpeg"); */
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

#app-logo{
    border-radius: 50%;
    width: 80px;
}
   


.GhubLogo{
    position: absolute;
    right: 0;
    padding-right: 10px;
}

section{
    border: 2px black solid;
    width: 60%;
    margin: auto auto;
    height: 60%;
    margin-top: 60px;
    display: table;
   text-align: center;
    
}

button{
    width: 20%;
    padding: 20px 30px;
   display: table-cell;
   vertical-align: bottom;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
  }

.input-container{
    padding-top: 80px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

#drop-area{
    width: 500px; 
    height: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: white;

}

#file-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
}