<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Genre Detector</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header class="navbar">
    <div>
      <a class="logo" href="#">
        Song Genre Detector
      </a>
    </div>
    <div class="GhubLogo">
        <a  href="https://github.com/Atharv-Verma290/SongGenreRecognition" target="_blank">
          <img src="../static/github-mark-white.png" width="80px"    alt="Ghublogo">
        </a>
    </div>
  </header>
  <div class="input-container">
      <label for="input-file" id="drop-area">
        <input type="file"  name="" id="input-file" hidden>
        <div id="file-view">
          <img src="..\static\upload.png" height="180px" alt="">
          <div id="file-upload-filename">test</div>
          <p> Drag and Drop or click here <br> to upload file</p>
          <span>Upload any images from the desktop</span>
          <br>
          
        </div>
      </label>
  </div>
  <footer>
    <p>footer</p>
  </footer>
  <script src="..\static\index.js"></script>
</body>
</html>