<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Genre Detector</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <header class="navbar">
    <div>
      <a class="logo" href="#">
        <img src="..\static\app_logo.jpeg" id="app-logo">
      </a>
    </div>
    <div class="GhubLogo">
        <a  href="https://github.com/Atharv-Verma290/SongGenreRecognition" target="_blank">
          <img src="../static/github-mark-white.png" width="80px"    alt="Ghublogo">
        </a>
    </div>
  </header>
  {% block content %}
 
  {% endblock content %}
  <footer>
   <div id="about-us">
    <a href="" >
      About Us
    </a>
   </div>
  </footer>
  <script src="..\static\index.js"></script>
</body>
</html>