{% extends "base.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Genre Detector</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h1>Home page</h1>
  <a href="{{url_for('handle_upload')}}">Get Started</a>

<header class="navbar">
  <div>
    <a class="logo" href="#">
      Song Genre Detector
    </a>
  </div>
  <div class="GhubLogo">
      <a  href="https://github.com/Atharv-Verma290/SongGenreRecognition" target="_blank">
        <img src="../static/github-mark-white.png" width="80px"    alt="Ghublogo">
      </a>
  </div>
</header>

<section>
  <div id="welcome-txt">
    <h1>Welcome to Song Genre Detector</h1>
    <h3>Upload your wave file to get an analysis report</h3>
  </div>
  <br>
  <a href="{{url_for('handle_upload')}}">
    <button id="getstarted-btn">Get Started</button>
  </a>
</section>

  
{% endblock content %}

