<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Genre Detector</title>
  <link rel="stylesheet" href="static\style.css">
</head>
<body>

<header class="navbar">
  <div>
    <a class="logo" href="#">
      <img src=""  alt="logo">
      Song Genre Detector
    </a>
    
      <a class="logo" id="GhubLogo" href="https://github.com/">
        <img src="templates\github-mark-white.png" alt="Ghublogo">
      </a>
    
  </div>
</header>

</body>
</html>