{% extends "base.html" %}


{% block content %}

<div class="input-container">
  <form action="/process" method="post" enctype="multipart/form-data" class="drop-area">
    <label for="input-file" >
      <input type="file"  name="file" id="input-file" hidden>
      <div id="file-view">
        <img src="..\static\upload.png" height="180px" alt="">
        <div id="file-upload-filename"></div>
        <p> Click Here to Upload your File</p>
        <br>
        <button type="submit">Submit File</button>
      </div>
    </label>
  </form>
</div>
  
{% endblock content %}

